{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: voting-app-ingress
  namespace: {{ .Values.global.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  {{- range .Values.ingress.hosts }}
  - host: {{ .host }}
    http:
      paths:
      {{- range .paths }}
      - path: {{ .path }}
        pathType: {{ .pathType }}
        backend:
          service:
            name: {{ if eq .host "vote.local.com" }}vote{{ else }}result{{ end }}
            port:
              {{- if eq .host "vote.local.com" }}
              number: {{ $.Values.vote.service.port }}
              {{- else }}
              number: {{ $.Values.result.service.port }}
              {{- end }}
      {{- end }}
  {{- end }}
{{- end }}

